

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'M PLUS Code Latin';
    src: url('./fonts/MPLUSCodeLatin-.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

.test {
  color: red;
  font-family: 'Lato';
}

.test2 {
  font-family: 'M PLUS Code Latin';
}